@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Monserrat' !important;
}
h1 {
    font-size: 4rem !important;
    font-family: 'Roboto';
    margin: 0;
}
h2 {
    font-size: 3rem !important;
    font-family: 'Roboto';
    margin: 0;
}
.btn-primary {
    padding: 10px 20px !important;
    background-color: black !important;
    border-radius: 5px !important;
    border: none !important;
    transition: background-color 0.3s ease !important;
}
.btn-primary:hover {
    background-color: grey !important;
    transform: all !important;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px;
}
.card:hover {
    transform: translateY(-10px);
}
/* Navbar */
.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.navbar.scrolled {
    background-color: white;
}
@media (max-width: 767px) {
    .navbar {
        background-color: white !important;
    }
}
/* Hero Section */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    color: black;
    text-align: center;
    padding: 20px;
    position: relative;
}
.hero-content {
    max-width: 800px;
    min-height:400px;
}
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.cta-btn {
    padding: 15px 25px;
    font-size: 1.2rem;
    color: white;
    background-color: #fd875d;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.cta-btn:hover {
    background-color: #d7c1e3;
    transform: all;
    text-decoration: none;
    color:black;
}
/* testimonials */
.carousel-item {
    text-align: center;
    padding: 30px;
}
.carousel-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.carousel-item blockquote {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 20px;
}
.carousel-item .author {
    font-weight: bold;
}
.carousel i {
      color:black !important;
}
/* Contact */
#contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid;
}
.contact-form button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}